<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<Parametr
		Name="ai_bo_activate_coeff"
		AdvancedValue="0.05f"
		DefaultValue="0.02"
	/>
	<Parametr
		Name="ai_bo_mass_size_coeff"
		AdvancedValue="1f"
		DefaultValue="1.0"
	/>
	<Parametr
		Name="ai_geomobjcollider_cfm"
		AdvancedValue="0.7f"
		DefaultValue="0.01"
	/>
		
	<Parametr
		Name="ai_geomobjcollider_erp"
		AdvancedValue="0.8f"
		DefaultValue="0.2"
	/>
	<Parametr
		Name="ai_geomobjcollider_mu"
		AdvancedValue="0.9f"
		DefaultValue="0.3"
	/>

	<Parametr
		Name="ai_min_frame_time"
		AdvancedValue="0.05f"
		DefaultValue="0.05"
	/>


	<Parametr
		Name="ai_physicstep"
		AdvancedValue="10"
		DefaultValue="0"
	/>


	<Parametr
		Name="ai_physicstep_angulardamping"
		AdvancedValue="0.9f"
		DefaultValue="0.3"
	/>


	<Parametr
		Name="ai_physicstep_cfm"
		AdvancedValue="0.07f"
		DefaultValue="0.0001"
	/>


	<Parametr
		Name="ai_physicstep_erp"
		AdvancedValue="0.8f"
		DefaultValue="0.1"
	/>


	<Parametr
		Name="ai_physicstep_lineardamping"
		AdvancedValue="100.1f"
		DefaultValue="0.1"
	/>


	<Parametr
		Name="ai_physicstep_max_correcting_vel"
		AdvancedValue="100f"
		DefaultValue="10"
	/>


	<Parametr
		Name="ai_physicstep_numiterations"
		AdvancedValue="15f"
		DefaultValue="5"
	/>


	<Parametr
		Name="ai_physicstep_surfacelayer"
		AdvancedValue="0.075f"
		DefaultValue="0.01"
	/>


	<Parametr
		Name="ai_physicstep_w"
		AdvancedValue="10f"
		DefaultValue="1.0"
	/>


	<Parametr
		Name="ai_ragdolljoints_cfm"
		AdvancedValue="0.8f"
		DefaultValue="0.0"
	/>


	<Parametr
		Name="ai_ragdolljoints_erp"
		AdvancedValue="0.9f"
		DefaultValue="0.9"
	/>


	<Parametr
		Name="ai_ragdolljoints_stopcfm"
		AdvancedValue="0.8f"
		DefaultValue="0.0"
	/>


	<Parametr
		Name="ai_wheelcollider_cfm"
		AdvancedValue="0.7f"
		DefaultValue="1"
	/>


	<Parametr
		Name="ai_wheelcollider_erp"
		AdvancedValue="0.9f"
		DefaultValue="0.8"
	/>


	<Parametr
		Name="allowMultipleInstances"
		AdvancedValue="true"
		DefaultValue="false"
	/>


	<Parametr
		Name="cinematic_spring_coeff"
		AdvancedValue="0.7f"
		DefaultValue="1.7"
	/>


	<Parametr
		Name="g_altEnterAllow"
		AdvancedValue="true"
		DefaultValue="false"
	/>


	<Parametr
		Name="g_grassAlphatest"
		AdvancedValue="10f"
		DefaultValue="15"
	/>


	<Parametr
		Name="g_grassDrawDist"
		AdvancedValue="350f"
		DefaultValue="200"
	/>


	<Parametr
		Name="g_impostorFeatDist"
		AdvancedValue="1250f"
		DefaultValue="250"
	/>


	<Parametr
		Name="g_impostorThreshold"
		AdvancedValue="1300f"
		DefaultValue="300"
	/>


	<Parametr
		Name="g_minInstancingCount"
		AdvancedValue="0"
		DefaultValue="2"
	/>


	<Parametr
		Name="g_postEffectBloom"
		AdvancedValue="1"
		DefaultValue="2"
	/>


	<Parametr
		Name="g_projectorsFarDist"
		AdvancedValue="5"
		DefaultValue="3"
	/>


	<Parametr
		Name="g_shadowAlphaTest"
		AdvancedValue="95f"
		DefaultValue="1"
	/>


	<Parametr
		Name="g_shadowDetailRadius"
		AdvancedValue="28"
		DefaultValue="35"
	/>


	<Parametr
		Name="g_shadowFarDist"
		AdvancedValue="5"
		DefaultValue="3"
	/>


	<Parametr
		Name="g_stencilShadows"
		AdvancedValue="true"
		DefaultValue="false"
	/>


	<Parametr
		Name="g_texturesFilter"
		AdvancedValue="3"
		DefaultValue="5"
	/>


	<Parametr
		Name="g_transparencyValue"
		AdvancedValue="0.75f"
		DefaultValue="0.45"
	/>


	<Parametr
		Name="lgtFlares"
		AdvancedValue="true"
		DefaultValue="false"
	/>


	<Parametr
		Name="lgtShadowTexSz"
		AdvancedValue="2048"
		DefaultValue="512"
	/>


	<Parametr
		Name="loc_formsQuantity"
		AdvancedValue="0"
		DefaultValue="2"
	/>


	<Parametr
		Name="lsTransitionDivider"
		AdvancedValue="2f"
		DefaultValue="0.5"
	/>


	<Parametr
		Name="lsViewDistanceDivider"
		AdvancedValue="4f"
		DefaultValue="1.0"
	/>


	<Parametr
		Name="maxDist"
		AdvancedValue="850f"
		DefaultValue="350"
	/>


	<Parametr
		Name="r_multiSamplesNum"
		AdvancedValue="8"
		DefaultValue="0"
	/>


	<Parametr
		Name="shaderMacro7"
		AdvancedValue="SUPPORT_DEPTH_TEXTURES true"
		DefaultValue="SUPPORT_DEPTH_TEXTURES false"
	/>


</configuration>