<Configuration>
  <GeneralParameters>
    <Value Name="firstLevel" Value="r1m1"/>
    <Value Name="intro" Value="data\video\INTRO_RUS_FIELD.wmv"/>
    <Value Name="levFileName" Value="data\maps\r1m1.ssl"/>
    <Value Name="mainMenuLevelName" Value="data\maps\mainmenu.ssl"/>
    <Value Name="pathToBelongsToLogos" Value="data\models\BelongsToLogos_em1.xml"/>
    <Value Name="pathToDynamicDialogs" Value="data\if\diz\DynamicDialogsGlobal_em1.xml"/>
    <Value Name="pathToProfiles" Value="data\profiles_em1"/>
    <Value Name="r_compressedTextures" Value="0"/>
    <Value Name="r_graphicalStats_MemAlloc" Value="true"/>
    <Value Name="snd_pathToRadioSamples" Value="data\sounds\radio\RadioSamples_em1.xml"/>
    <Value Name="snd_pathToRadioSounds" Value="data\sounds\radio\RadioSounds_em1.xml"/>
    <Value Name="shaderMacro0" Value="MIN_MAG_FILTER Linear"/>
    <Value Name="video02" Value="data\video\INTRO_RUS_FIELD.wmv"/>
  </GeneralParameters>
  <UiOptions>
    <WithOutHD>
      <Value Name="pathToSplashes" Value="data\if\ico\splashes.xml"/>
      <Value Name="pathToLevelInfo" Value="data/if/levelinfo/"/>
      <Value Name="pathToUiWindows" Value="data\if\dialogs\UiWindows_em1.xml"/>
      <Value Name="pathToUiIcons" Value="data\if\ico\UiIcons_em1.xml"/>
      <Value Name="ui_pathToFonts" Value="data\if\fonts\fonts.xml"/>
      <Value Name="ui_pathToFrames" Value="data\if\frames\frames.xml"/>
      <Value Name="ui_pathToSchema" Value="data\if\frames\uiSchema2.xml"/>
      <Value Name="ui_pathToResource" Value="data\if\strings\uiEditStrings_em1.xml"/>
      <Value Name="pathToScriptKeyBindings" Value="data\scripts\ScriptKeyBindings.lua"/>
      <Value Name="pathToGlobProps" Value="data\gamedata\GlobalProperties_em1.xml"/>
      <Value Name="pathToUiStrings" Value="data\if\strings\UiStrings_em1.xml"/>
    </WithOutHD>
    <WithHDWithDefaultSight>
      <Value Name="pathToSplashes" Value="data\if\ico\splashes_hd.xml"/>
      <Value Name="pathToLevelInfo" Value="data/if/levelinfo_hd/"/>
      <Value Name="pathToUiWindows" Value="data\if\dialogs_hd\UiWindows_em1.xml"/>
      <Value Name="pathToUiIcons" Value="data\if\ico\UiIcons_em1_hd.xml"/>
      <Value Name="ui_pathToFonts" Value="data\if\fonts\fonts_hd.xml"/>
      <Value Name="ui_pathToFrames" Value="data\if\frames\frames_hd.xml"/>
      <Value Name="ui_pathToSchema" Value="data\if\frames\uiSchema2_hd.xml"/>
      <Value Name="ui_pathToResource" Value="data\if\strings\uiEditStrings_em1_hd.xml"/>
      <Value Name="pathToScriptKeyBindings" Value="data\scripts\ScriptKeyBindings_hd.lua"/>
      <Value Name="pathToGlobProps" Value="data\gamedata\GlobalProperties_em1_hd.xml"/>
      <Value Name="pathToUiStrings" Value="data\if\strings\UiStrings_em1_hd.xml"/>
    </WithHDWithDefaultSight>
    <WithHDWithSmallSight>
      <Value Name="pathToSplashes" Value="data\if\ico\splashes_hd.xml"/>
      <Value Name="pathToLevelInfo" Value="data/if/levelinfo_hd/"/>
      <Value Name="pathToUiWindows" Value="data\if\dialogs_hd\UiWindows_em1_smlCursor.xml"/>
      <Value Name="pathToUiIcons" Value="data\if\ico\UiIcons_em1_hd.xml"/>
      <Value Name="ui_pathToFonts" Value="data\if\fonts\fonts_hd.xml"/>
      <Value Name="ui_pathToFrames" Value="data\if\frames\frames_hd.xml"/>
      <Value Name="ui_pathToSchema" Value="data\if\frames\uiSchema2_hd.xml"/>
      <Value Name="ui_pathToResource" Value="data\if\strings\uiEditStrings_em1_hd.xml"/>
      <Value Name="pathToScriptKeyBindings" Value="data\scripts\ScriptKeyBindings_hd.lua"/>
      <Value Name="pathToGlobProps" Value="data\gamedata\GlobalProperties_em1_hd.xml"/>
      <Value Name="pathToUiStrings" Value="data\if\strings\UiStrings_em1_hd.xml"/>
    </WithHDWithSmallSight>
    <WithHDWithOvalSight>
      <Value Name="pathToSplashes" Value="data\if\ico\splashes_hd.xml"/>
      <Value Name="pathToLevelInfo" Value="data/if/levelinfo_hd/"/>
      <Value Name="pathToUiWindows" Value="data\if\dialogs_hd\UiWindows_em1_ovalCursor.xml"/>
      <Value Name="pathToUiIcons" Value="data\if\ico\UiIcons_em1_hd_ovalCursor.xml"/>
      <Value Name="ui_pathToFonts" Value="data\if\fonts\fonts_hd.xml"/>
      <Value Name="ui_pathToFrames" Value="data\if\frames\frames_hd.xml"/>
      <Value Name="ui_pathToSchema" Value="data\if\frames\uiSchema2_hd.xml"/>
      <Value Name="ui_pathToResource" Value="data\if\strings\uiEditStrings_em1_hd.xml"/>
      <Value Name="pathToScriptKeyBindings" Value="data\scripts\ScriptKeyBindings_hd.lua"/>
      <Value Name="pathToGlobProps" Value="data\gamedata\GlobalProperties_em1_hd.xml"/>
      <Value Name="pathToUiStrings" Value="data\if\strings\UiStrings_em1_hd.xml"/>
    </WithHDWithOvalSight>
    <WithHDWithHardcoreSight>
      <Value Name="pathToSplashes" Value="data\if\ico\splashes_hd.xml"/>
      <Value Name="pathToLevelInfo" Value="data/if/levelinfo_hd/"/>
      <Value Name="pathToUiWindows" Value="data\if\dialogs_hd\UiWindows_em1_hardcoreCursor.xml"/>
      <Value Name="pathToUiIcons" Value="data\if\ico\UiIcons_em1_hd.xml"/>
      <Value Name="ui_pathToFonts" Value="data\if\fonts\fonts_hd.xml"/>
      <Value Name="ui_pathToFrames" Value="data\if\frames\frames_hd.xml"/>
      <Value Name="ui_pathToSchema" Value="data\if\frames\uiSchema2_hd.xml"/>
      <Value Name="ui_pathToResource" Value="data\if\strings\uiEditStrings_em1_hd.xml"/>
      <Value Name="pathToScriptKeyBindings" Value="data\scripts\ScriptKeyBindings_hd.lua"/>
      <Value Name="pathToGlobProps" Value="data\gamedata\globalproperties_em1_hd_hardcoreCursor.xml"/>
      <Value Name="pathToUiStrings" Value="data\if\strings\UiStrings_em1_hd.xml"/>
    </WithHDWithHardcoreSight>
  </UiOptions>
</Configuration>