<Configuration>
  <GeneralParameters>
    <Value Name="firstLevel" Value="r5m1"/>
    <Value Name="intro" Value="data\video\introM113_rus.wmv"/>
    <Value Name="levFileName" Value="data\maps\r5m1.ssl"/>
    <Value Name="mainMenuLevelName" Value="data\maps\menu.ssl"/>
    <Value Name="pathToBelongsToLogos" Value="data\models\BelongsToLogos.xml"/>
    <Value Name="pathToDynamicDialogs" Value="data\if\diz\DynamicDialogsGlobal.xml"/>
    <Value Name="pathToProfiles" Value="data\profiles"/>
    <Value Name="r_compressedTextures" Value="0"/>
    <Value Name="r_graphicalStats_MemAlloc" Value="true"/>
    <Value Name="snd_pathToRadioSamples" Value="data\sounds\radio\RadioSamples.xml"/>
    <Value Name="snd_pathToRadioSounds" Value="data\sounds\radio\RadioSounds.xml"/>
    <Value Name="shaderMacro0" Value="MIN_MAG_FILTER Linear"/>
    <Value Name="video02" Value="data\video\introM113_rus.wmv"/>
  </GeneralParameters>
  <UiOptions>
    <WithOutHD>
      <Value Name="pathToSplashes" Value="data\if\ico\splashes.xml"/>
      <Value Name="pathToLevelInfo" Value="data/if/levelinfo/"/>
      <Value Name="pathToUiWindows" Value="data\if\dialogs\UiWindows.xml"/>
      <Value Name="pathToUiIcons" Value="data\if\ico\UiIcons.xml"/>
      <Value Name="ui_pathToFonts" Value="data\if\fonts\fonts.xml"/>
      <Value Name="ui_pathToFrames" Value="data\if\frames\frames.xml"/>
      <Value Name="ui_pathToSchema" Value="data\if\frames\uiSchema2.xml"/>
      <Value Name="ui_pathToResource" Value="data\if\strings\uiEditStrings.xml"/>
      <Value Name="pathToScriptKeyBindings" Value="data\scripts\ScriptKeyBindings.lua"/>
      <Value Name="pathToGlobProps" Value="data\gamedata\GlobalProperties.xml"/>
      <Value Name="pathToUiStrings" Value="data\if\strings\UiStrings.xml"/>
    </WithOutHD>
    <WithHDWithDefaultSight>
      <Value Name="pathToSplashes" Value="data\if\ico\splashes_hd.xml"/>
      <Value Name="pathToLevelInfo" Value="data/if/levelinfo_hd/"/>
      <Value Name="pathToUiWindows" Value="data\if\dialogs_hd\UiWindows.xml"/>
      <Value Name="pathToUiIcons" Value="data\if\ico\UiIcons_hd.xml"/>
      <Value Name="ui_pathToFonts" Value="data\if\fonts\fonts_hd.xml"/>
      <Value Name="ui_pathToFrames" Value="data\if\frames\frames_hd.xml"/>
      <Value Name="ui_pathToSchema" Value="data\if\frames\uiSchema2_hd.xml"/>
      <Value Name="ui_pathToResource" Value="data\if\strings\uiEditStrings_hd.xml"/>
      <Value Name="pathToScriptKeyBindings" Value="data\scripts\ScriptKeyBindings_hd.lua"/>
      <Value Name="pathToGlobProps" Value="data\gamedata\GlobalProperties_hd.xml"/>
      <Value Name="pathToUiStrings" Value="data\if\strings\UiStrings_hd.xml"/>
    </WithHDWithDefaultSight>
    <WithHDWithSmallSight>
      <Value Name="pathToSplashes" Value="data\if\ico\splashes_hd.xml"/>
      <Value Name="pathToLevelInfo" Value="data/if/levelinfo_hd/"/>
      <Value Name="pathToUiWindows" Value="data\if\dialogs_hd\UiWindows_smlCursor.xml"/>
      <Value Name="pathToUiIcons" Value="data\if\ico\UiIcons_hd.xml"/>
      <Value Name="ui_pathToFonts" Value="data\if\fonts\fonts_hd.xml"/>
      <Value Name="ui_pathToFrames" Value="data\if\frames\frames_hd.xml"/>
      <Value Name="ui_pathToSchema" Value="data\if\frames\uiSchema2_hd.xml"/>
      <Value Name="ui_pathToResource" Value="data\if\strings\uiEditStrings_hd.xml"/>
      <Value Name="pathToScriptKeyBindings" Value="data\scripts\ScriptKeyBindings_hd.lua"/>
      <Value Name="pathToGlobProps" Value="data\gamedata\GlobalProperties_hd.xml"/>
      <Value Name="pathToUiStrings" Value="data\if\strings\UiStrings_hd.xml"/>
    </WithHDWithSmallSight>
    <WithHDWithOvalSight>
      <Value Name="pathToSplashes" Value="data\if\ico\splashes_hd.xml"/>
      <Value Name="pathToLevelInfo" Value="data/if/levelinfo_hd/"/>
      <Value Name="pathToUiWindows" Value="data\if\dialogs_hd\UiWindows_ovalCursor.xml"/>
      <Value Name="pathToUiIcons" Value="data\if\ico\UiIcons_hd_ovalCursor.xml"/>
      <Value Name="ui_pathToFonts" Value="data\if\fonts\fonts_hd.xml"/>
      <Value Name="ui_pathToFrames" Value="data\if\frames\frames_hd.xml"/>
      <Value Name="ui_pathToSchema" Value="data\if\frames\uiSchema2_hd.xml"/>
      <Value Name="ui_pathToResource" Value="data\if\strings\uiEditStrings_hd.xml"/>
      <Value Name="pathToScriptKeyBindings" Value="data\scripts\ScriptKeyBindings_hd.lua"/>
      <Value Name="pathToGlobProps" Value="data\gamedata\GlobalProperties_hd.xml"/>
      <Value Name="pathToUiStrings" Value="data\if\strings\UiStrings_hd.xml"/>
    </WithHDWithOvalSight>
    <WithHDWithHardcoreSight>
      <Value Name="pathToSplashes" Value="data\if\ico\splashes_hd.xml"/>
      <Value Name="pathToLevelInfo" Value="data/if/levelinfo_hd/"/>
      <Value Name="pathToUiWindows" Value="data\if\dialogs_hd\uiwindows_hardcoreCursor.xml"/>
      <Value Name="pathToUiIcons" Value="data\if\ico\uiicons_hd.xml"/>
      <Value Name="ui_pathToFonts" Value="data\if\fonts\fonts_hd.xml"/>
      <Value Name="ui_pathToFrames" Value="data\if\frames\frames_hd.xml"/>
      <Value Name="ui_pathToSchema" Value="data\if\frames\uiSchema2_hd.xml"/>
      <Value Name="ui_pathToResource" Value="data\if\strings\uieditstrings_hd.xml"/>
      <Value Name="pathToScriptKeyBindings" Value="data\scripts\ScriptKeyBindings_hd.lua"/>
      <Value Name="pathToGlobProps" Value="data\gamedata\globalproperties_hd_hardcoreCursor.xml"/>
      <Value Name="pathToUiStrings" Value="data\if\strings\UiStrings_hd.xml"/>
    </WithHDWithHardcoreSight>
  </UiOptions>
</Configuration>